{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie 10",
            "ie 11",
            "safari >= 7"
          ]
        }
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "async-to-promises",
    "transform-runtime"
  ]
}